extends layout

block content
  .row
    .columns
      h1 Velkommen til #{title}

      p.
        Du kan nå forhåndsregistrere ditt subdomene. Sjekk om det er ledig ved å gå til MITTSUBDOMENE.#{title}.
        Hvis det ikke er opptatt får du mulighet til å registrere det.

      p.
        Om det er opptatt, så ikke fortvil, du kan få vanlige domener til å peke hit også. Men det er litt mer jobb i oppsettet, både for deg og meg, og du må registrere nettstedet på et subdomene til å begynne med.
