extends layout

block content
  .row
    .columns
      h1= site.name
      p.
        Velkommen til #{site.name}. Ta en titt innom seinere, og se om det
        har kommet noe her da.

      a(href="/_/facebook") Logg inn med Facebook
